.root{
    -fx-background-color: #32025c;
}

.LoginRegisterbutton{
    -fx-background-color: #e1673a;
}

.logo{
    -fx-background-color: #f07548;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

.blue-button-radius {
    -fx-background-color: #32025c;
    -fx-border-color: #ffffff;
    -fx-border-radius: 20;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.blue-button {
    -fx-background-color: #32025c;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.blue-button-NoRadius {
    -fx-background-color: #32025c;
    -fx-text-fill: white;
}

.background-white{
    -fx-background-color: white;
}


.table-header{
    -fx-base: #32025c;
    -fx-background-color: #32025c;
    -fx-table-header-color: transparent;
}

.list-cell{
    -fx-alignment: center-left;
    -fx-base: #32025c;
    -fx-background-color: #32025c;
    -fx-table-header-color: transparent;
    -fx-padding: 15;
}

.list-cell2{
    -fx-font-weight: bold;
    -fx-alignment: center-right;
    -fx-base: #32025c;
    -fx-background-color: #32025c;
    -fx-table-header-color: transparent;
    -fx-padding: 15;
}
